/* Don't know why but importing directily in stylesheet, fonts on some page were not loading properly. 😐
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

html {
    background-color: #f1f5f9;
    /* font-family: sans-serif; */
    font-family: "Poppins", sans-serif, "Courier New", Courier, monospace, "Noto Color Emoji", "Segoe UI Emoji";
    --webkit-font-smoothing: antialiased;
    font-synthesis: none;
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
    /* outline: 1px solid rgba(255, 0, 0, 0.295); CSS Debug */
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

a {
    color: #181717;
}

a:hover {
    color: #4c1d95;
}

.container {
    padding: 1.5rem;
    border-radius: 2rem;
    background-color: #817e8615;
}

/* nav styles */

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #4c1d95;
}

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 0;
}

.nav-links a {
    color: #4c1d95;
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.75em;
}

.nav-links a:hover {
    background-color: #4d1d9515;
}

.nav-links a:focus {
    background-color: #4d1d9575;
    color: #f1f5f9;
}

.nav-links a:active {
    background-color: #4d1d9575;
    color: #f1f5f9;
}

.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: auto;
        display: block;
        text-align: center;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
        vertical-align: middle;
    }

    .hamburger {
        display: none;
    }

    .container {
        padding: 2rem;
        border-radius: 2rem;
        background-color: #817e8615;
    }
}

code {
    background-color: #4d1d9513;
    color: #4c1d95;
    font-size: large;
    border-radius: 0.5em;
    padding-right: 5px;
    padding-left: 5px;
}

.text-wavy {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-underline-offset: 1rem;
    text-decoration-color: #562a97;
    text-decoration-thickness: 0.15rem;
}

/* dark theme */
html.dark {
    background-color: #12111a;
    color: #fff;
}

.dark .container {
    background-color: rgba(44, 44, 46, 0.514);
}

.dark .nav-links a {
    color: #fff;
}

.dark a {
    color: #f1f5f9;
}

.dark .tags .tag {
    color: white;
    background-color: #1e0c3a;
}

.dark .tags .tag a {
    color: white;
}

.dark .meta {
    color: white !important;
}

.dark code,
pre {
    background-color: #4d1d951f;
    color: #d1c6e2ce;
    font-size: large;
    border-radius: 0.5em;
    padding-right: 5px;
    padding-left: 5px;
}
