---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";

// const allPosts = await Astro.glob("./posts/*.md"); // ðŸŒŽ Astro.glob() will return array of object that contains info about out file
const allPosts = await getCollection("posts");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle} pageEmoji="âœ">
    <h2>My Astro Learning Blog</h2>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        {
            // Calling out BasePost Componet | Sending some data to `BlogPost.astro` component, It will receive it in Astro.props.
            allPosts.map((post) => (
                <BlogPost
                    url={`/posts/${post.slug}/`}
                    title={post.data.title}
                    date={post.data.pubDate}
                />
            ))
        }
    </ul>
</BaseLayout>
