---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("./posts/*.md"); // ðŸŒŽ Astro.glob() will return array of object that contains info about out file
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle} pageEmoji="âœ">
    <h2>My Astro Learning Blog</h2>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        {
            // Calling out BasePost Componet | Sending some data to `BlogPost.astro` component, It will receive it in Astro.props.
            allPosts.map((post) => (
                <BlogPost
                    url={post.url}
                    title={post.frontmatter.title}
                    date={post.frontmatter.pubDate}
                />
            ))
        }
    </ul>
</BaseLayout>
