---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "My Astro Site ";

const emoji = "🚀";
---

<BaseLayout pageTitle={pageTitle} pageEmoji={emoji}>
	<h2>My awesome blog subtitle.</h2>
</BaseLayout>
