---
const { title, url, date } = Astro.props;

const dateConverted = new Date(date).toISOString().slice(0,10);
---
<div class="list-card"> 
    <li style="list-style: '👉  '; line-height: 2rem;">
        <a href={url}>{title}</a> - <span style="font-size: small;">({dateConverted})</span>
    </li>
</div>
