---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<nav>
    <header>
        <Hamburger />
        <ThemeIcon />
        <Navigation />
    </header>
</nav>
